# Copyright 2024-2026 NXP
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

config NET_STACK_CODE_RELOCATE
	bool "Relocate networking code into RAM"
	select CODE_DATA_RELOCATION
	help
	  Relocate networking code into RAM when running the zperf
	  sample. Can improve performance on platforms with fast code
	  RAM.

if NET_STACK_CODE_RELOCATE

config NET_STACK_CODE_RAM_NAME
	string "Networking code RAM location"
	default "RAM"
	help
	  Region to relocate networking code to

endif # NET_STACK_CODE_RELOCATE

config RECV_THREAD_PRIO
	int "Receiving thread priority"
	default 3
	help
	  Set the packet receiving thread preemptive priority

config DECODE_THREAD_PRIO
	int "Decode thread priority"
	default 5
	help
	  Set the frame decoding thread preemptive priority

config JPEG_SLAB_SIZE
	int "Size of a jpeg frame buffer slab (in KB)"
	default 512
	help
	  Size of a jpeg frame buffer slab in kilobytes

config JPEG_SLAB_COUNT
	int "Number of jpeg frame buffer slabs"
	default 20
	help
	  Number of slabs to allocate for JPEG frame buffering

choice
	prompt "Control Event protocol"
	default CONTROL_EVENT_TCP

config CONTROL_EVENT_UDP
	bool "Control UDP protocol"
	help
		Control events is reporting using UDP protocol

config CONTROL_EVENT_TCP
	bool "Control TCP protocol"
	help
		Touch events is reporting using TCP protocol

endchoice
